/bootstrap/compiled.php
/vendor
public/image/geriatric/employees/**/*
public/image/geriatric/occurrences/**/*
public/image/geriatric/records/**/*
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
