/bootstrap/compiled.php
/vendor
public/image/geriatric/employees/*.png
public/image/geriatric/occurrences/*.png
public/image/geriatric/records/*.png
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
*.sql